<div class="page-header">
	<h3>Create</h3>
</div>

<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2" for="content">Title</label>
		<div class="col-sm-10">
			<input ng-model="blogPost.title" id="title" class="form-control"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="category">Category</label>
		<div class="col-sm-10">
			<select ng-model="blogPost.category" id="category" class="form-control" >
				<option ng-repeat="x in category" value="{{x.id}}">{{x.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="tags">Tags</label>
		<div class="col-sm-10">
			<input ng-model="blogPost.tags" id="tags" class="form-control" >
			</input>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="tags">Image</label>
		<div class="col-sm-10">
			<input type="file" file-model="myFile" />
			<button ng-click="uploadFile()">upload me</button>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="summary">Summary</label>
		<div class="col-sm-10">
			<textarea ng-model="blogPost.summary" id="summary" class="form-control"
					  rows="5">{{blogPost.summary}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="content">Content</label>
		<div class="col-sm-10">
			<textarea ng-model="blogPost.content" id="content" class="form-control"
					  rows="10">{{blogPost.content}}</textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="btn btn-primary" ng-click="save()"><span class="fa fa-check"></span> Save</button>
		</div>
	</div>
</form>